* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  text-align: center;
}
.Logo {
  font-size: 1.5rem;
  background-color: orchid;
  height: calc(100vh-90px);
  text-align: center;
}

.List {
  background-color: cadetblue;
  height: 450px;
  text-align: center;
}
.Stats {
  background-color: coral;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
li {
  padding: 5px;
  font-size: 1.2rem;
  color: #fff;
  font-family: 600;
}
span {
  margin-right: 5px;
}
button {
  background-color: transparent;
  border: none;
  margin-left: 8px;
}
h3 {
  padding-top: 10px;
}
.Form button {
  padding: 8px 14px;
  border-radius: 20px;
  background-color: #dede;
  font-weight: 600;
  font-size: 20px;
}
.Form {
  background-color: plum;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Form input {
  padding: 8px 14px;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 400px;
  text-indent: 20px;
}
select {
  padding: 8px 14px;
  border-radius: 20px;
  width: 100px;
}
.actions select {
  margin-left: 12rem;
  width: 200px;
}
.reset {
  margin-left: 12rem;
  background-color: blue;
  color: white;
  padding: 8px;
}
